registry=https://registry.npm.taobao.org
disturl=https://mirrors.huaweicloud.com/nodejs
sass_binary_site=https://mirrors.huaweicloud.com/node-sass
phantomjs_cdnurl=https://mirrors.huaweicloud.com/phantomjs
electron_mirror=https://mirrors.huaweicloud.com/electron/
chromedriver_cdnurl=https://mirrors.huaweicloud.com/chromedriver
operadriver_cdnurl=https://mirrors.huaweicloud.com/operadriver
selenium_cdnurl=https://mirrors.huaweicloud.com/selenium/
node_inspector_cdnurl=https://npm.taobao.org/mirrors/node-inspector
fsevents_binary_host_mirror=http://npm.taobao.org/mirrors/fsevents/
